@page
@model DTFWebApp.Pages.Produtos.EditModel
@{
}


<div class="card">
    <div class="card-body">
        <h2 class="text-left">Editar Produto</h2>
        <hr />

        <form method="post">
            <div class="row">
                <input type="hidden" asp-for="Produto.ID" />
                <div class="col-md-12">
                    <div class="form-group">
                        <label asp-for="Produto.nome" class="control-label">Nome</label>
                        <input asp-for="Produto.nome" class="form-control" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Produto.marca" class="control-label">Marca</label>
                        <input asp-for="Produto.marca" class="form-control" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Produto.categoria" class="control-label">Categoria</label>

                        <select class="form-control" id="categoria" name="Produto.categoria">

                            @if (Model.Produto.categoria == "Casual")
                            {
                                <option value="Casual" selected>Casual</option>
                                <option value="Esportivo">Esportivo</option>
                                <option value="Luxo">Luxo</option>
                            }
                            else if (Model.Produto.categoria == "Esportivo")
                            {
                                <option value="Casual">Casual</option>
                                <option value="Esportivo" selected>Esportivo</option>
                                <option value="Luxo">Luxo</option>
                            }
                            else
                            {
                                <option value="Casual">Casual</option>
                                <option value="Esportivo">Esportivo</option>
                                <option value="Luxo" selected>Luxo</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Produto.tamanho" class="control-label">Tamanho</label>

                        <select class="form-control" id="tamanho" name="Produto.tamanho">

                            @if (Model.Produto.tamanho == "PP")
                            {
                                <option value="PP" selected>PP</option>
                                <option value="P">P</option>
                                <option value="M">M</option>
                                <option value="G">G</option>
                                <option value="GG">GG</option>
                            }
                            else if (Model.Produto.tamanho == "P")
                            {
                                <option value="PP">PP</option>
                                <option value="P" selected>P</option>
                                <option value="M">M</option>
                                <option value="G">G</option>
                                <option value="GG">GG</option>
                            }
                            else if (Model.Produto.tamanho == "M")
                            {
                                <option value="PP">PP</option>
                                <option value="P">P</option>
                                <option value="M" selected>M</option>
                                <option value="G">G</option>
                                <option value="GG">GG</option>
                            }
                            else if (Model.Produto.tamanho == "G")
                            {
                                <option value="PP">PP</option>
                                <option value="P">P</option>
                                <option value="M">M</option>
                                <option value="G" selected>G</option>
                                <option value="GG">GG</option>
                            }
                            else
                            {
                                <option value="PP">PP</option>
                                <option value="P">P</option>
                                <option value="M">M</option>
                                <option value="G">G</option>
                                <option value="GG" selected>GG</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Produto.descricao" class="control-label">Descrição</label>
                        <input asp-for="Produto.descricao" class="form-control" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Produto.quantidade" class="control-label">Quantidade</label>
                        <input asp-for="Produto.quantidade" class="form-control" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Produto.valor" class="control-label">Valor</label>
                        <input asp-for="Produto.valor" class="form-control" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Produto.imagem" class="control-label">Imagem</label>
                        <input asp-for="Produto.imagem" class="form-control" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Produto.status" class="control-label">Status</label>
                        <select class="form-control" id="status" name="Produto.status">

                            @if (Model.Produto.status == true)
                            {
                                <option selected value=true>Ativo</option>
                                <option value=false>Inativo</option>
                            }
                            else
                            {
                                <option value=true>Ativo</option>
                                <option selected value=false>Inativo</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="SALVAR" class="btn btn-outline-warning btn-lg btn-block" />
            </div>
        </form>
    </div>
</div>