@page
@model DTFWebApp.Pages.Produtos.IndexModel
@{
}



<div class="text-center">
    <h1 class="text-center">
        Lista de Produtos       
    </h1>
    <br />
    <section class="d-flex">

        <table class="table table-hover">
            <thead>
                <tr>

                    <th scope="col">Código do Produto</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Quantidade</th>
                    <th scope="col">Situação do Estoque</th>
                    <th scope="col">Status do Produto</th>
                </tr>
            </thead>
            @foreach (var data in Model.Produtos)
            {
                <tbody>
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => data.ID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => data.nome)
                            <a asp-page="/Produtos/Detail" class="nav-link align-middle px-0"></a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => data.quantidade)
                        </td>
                        <td>
                            @if (data.quantidade > 50)
                            {
                                <p>Estoque Confortável</p>
                            }
                            else if (data.quantidade < 20)
                            {
                                <p>Estoque Baixo</p>
                            }
                            else
                            {
                                <p>Reposição Necessária</p>
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => data.status)
                        </td>
                    </tr>
                </tbody>
            }
        </table>
    </section>
</div>